<div class="list-group">
    <a href="/subscriber/cabinet" class="list-group-item list-group-item-action {% if active_page == 'cabinet' %}active{% endif %}">
        <i class="bi bi-person-badge-fill me-2"></i>Главная
    </a>
    <a href="/subscriber/payments" class="list-group-item list-group-item-action {% if active_page == 'payments' %}active{% endif %}">
        <i class="bi bi-wallet2 me-2"></i>История платежей
    </a>
    <a href="/subscriber/notifications" class="list-group-item list-group-item-action {% if active_page == 'notifications' %}active{% endif %}">
        <i class="bi bi-bell-fill me-2"></i>Уведомления
    </a>
    <a href="/subscriber/edit" class="list-group-item list-group-item-action {% if active_page == 'edit' %}active{% endif %}">
        <i class="bi bi-pencil-square me-2"></i>Редактировать профиль
    </a>
</div>