{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-3">
        {% include 'partials/subscriber_menu.html' %}
    </div>
    <div class="col-md-9">
        <h1 class="h3 mb-4">Уведомления</h1>

        {% if notifications %}
            <div class="list-group">
            {% for notification in notifications %}
                <a href="{{ notification.related_url }}" class="list-group-item list-group-item-action flex-column align-items-start {% if not notification.is_read %}list-group-item-light fw-bold{% endif %}">
                    <div class="d-flex w-100 justify-content-between">
                        <p class="mb-1">{{ notification.message }}</p>
                        <small>{{ notification.sent_date.strftime('%d.%m.%Y %H:%M') }}</small>
                    </div>
                    <small class="text-muted">{{ notification.type }}</small>
                </a>
            {% endfor %}
            </div>
        {% else %}
        <div class="alert alert-info">У вас пока нет уведомлений.</div>
        {% endif %}
    </div>
</div>
{% endblock %}